@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>A Alpine Ski House é a melhor montanha de esqui do nordeste!</p>
</div>
